body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.date-container {
    text-align: center;
}

#currentDate {
    font-size: 18px;
    font-weight: bold;
    color: green;
}